.expert {
  padding: 123px 0 100px;
  &__title {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    color: #3a4661;
    margin-bottom: 50px;
  }
  &__list {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    padding: 42px 16px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 270px;
    width: 100%;
    background-color: #f5f8f9;
  }
  &__item-photo {
    margin-bottom: 30px;
    max-width: 109px;
    max-height: 109px;
    border-radius: 50%;
  }
  &__item-title {
    margin-bottom: 10px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #3f3f3f;
  }
  &__item-info {
    margin-bottom: 18px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #6ca6c1;
  }
  &__item-link {
    padding: 5px 40px;
    text-align: center;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    color: #3f3f3f;
    line-height: 30px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    background-color: #ffe66d;
  }
  &__item-link:hover {
    content: "";
    background-color: #6ca6c1;
    color: #fff;
    transition: all 0.5s;
  }
}
@media (max-width: 1138px) {
  .expert__list {
    flex-wrap: wrap;
  }
  .expert__item {
    max-width: 45%;
    margin-bottom: 20px;
  }
}
@media (max-width: 630px) {
  .expert__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 605px) {
  .expert__item-info {
    text-align: center;
  }
}
@media (max-width: 457px) {
  .expert__item-title {
    text-align: center;
  }
}
@media (max-width: 405px) {
  .expert__item {
    max-width: 100%;
    margin-bottom: 20px;
  }
}
